{% extends 'quizzes/base.html' %}

{% block title %}{{ quiz.title }}{% endblock %}

{% block content %}
<h2>{{ quiz.title }}</h2>
<p>{{ quiz.description }}</p>
<form method="post">
    {% csrf_token %}
    {% for question in questions %}
        <div class="question">
            <h3>{{ question.text }}</h3>
            <p>Difficulty: {{ question.get_difficulty_display }}</p>
            <input type="radio" name="question_{{ question.id }}" value="{{ question.option1 }}" required> {{ question.option1 }}<br>
            <input type="radio" name="question_{{ question.id }}" value="{{ question.option2 }}"> {{ question.option2 }}<br>
            <input type="radio" name="question_{{ question.id }}" value="{{ question.option3 }}"> {{ question.option3 }}<br>
            <input type="radio" name="question_{{ question.id }}" value="{{ question.option4 }}"> {{ question.option4 }}<br>
        </div>
    {% endfor %}
    <button type="submit">Submit Answers</button>
</form>
{% endblock %}
